*{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color:hsla(36, 100%, 90%, 0.884);
    text-align:left;
    max-width: 800px;
    margin: 14px auto;
    padding: 10px auto;
}

h1{
    text-align:center;
    font-size:60px;
    font-family: "Brush Script MT", "Brush Script Std", "cursive";
    color:rgb(195, 27, 27);
    margin-bottom: 4px;
}

img{
    display:block;
    margin: 2px auto;
    width:500px;    
}

h2{
    font-family: "Brush Script MT", "Brush Script Std", "cursive";
    color:rgb(195, 27, 27); 
    font-size:35px;
    margin:2px 0px 1px 8px;
}

p{
    margin-bottom:2px;
}

.des-info{
    padding:0px;
    margin-top: 0px;
    margin-left:2px;   
}

h3{
    font-family: "Brush Script MT", "Brush Script Std", "cursive";
    color:rgb(195, 27, 27); 
    font-size:35px;
    margin-top:10px;
    margin-bottom: 1px;
    padding: 0px;

}
.recipe-links li{
    width:250px;
    text-align:left;
    font-size:25px;
    margin:0px auto;
}

a:link{
    text-decoration:none;
}

a:hover{
    color: rgb(104, 104, 104);
}

a:active {
    color:hsla(0, 95%, 39%, 0.929);
}





